name: Go Build & Multi-Platform Release

on:
  push:
    tags: 
      - "v*.*"

permissions:
  contents: write
  checks: write
  pull-requests: write
  
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        goos: [linux, windows]
        goarch: [amd64, arm64]
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v4
        with:
          go-version: '1.24'

      - name: Tidy modules
        run: go mod tidy

      - name: Build binary
        run: |
          echo "Building for ${{ matrix.goos }} / ${{ matrix.goarch }}"
          CGO_ENABLED=0 GOOS=${{ matrix.goos }} GOARCH=${{ matrix.goarch }} go build -ldflags="-X main.version=${{ github.ref_name }}" -o loadtester-${{ matrix.goos }}-${{ matrix.goarch }}

      - name: Upload artifact
        uses: actions/upload-artifact@v5
        with:
          name: loadtester-${{ matrix.goos }}-${{ matrix.goarch }}
          path: loadtester-${{ matrix.goos }}-${{ matrix.goarch }}

  release:
    runs-on: ubuntu-latest
    needs: [build]
    steps:
      - uses: actions/checkout@v4

      - name: Download all artifacts
        uses: actions/download-artifact@v6
        with:
          path: ./dist

      - name: Display downloaded files
        run: ls -R ./dist

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          make_latest: true
          files: ./dist/**/*
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  docker:
    runs-on: ubuntu-latest
    needs: [build]
    steps:
      - uses: actions/checkout@v4

      - name: Build Docker image
        run: |
          echo "Building Docker image with tags: latest and ${{ github.ref_name }}"
          docker build -t lalamefine/echoserver:latest -t lalamefine/echoserver:${{ github.ref_name }} .

      - name: Push Docker image
        run: |
          echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin
          # Push version tag first, then latest
          docker push lalamefine/echoserver:${{ github.ref_name }}
          docker push lalamefine/echoserver:latest